body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding-top: 60px;
    left: -250px; /* Move sidebar off the screen by default */
    transition: left 0.3s ease; /* Add transition for smooth sliding effect */
}

.logo {
    /*text-align: center;*/
    /*margin-bottom: 20px;*/
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #555;
}

.menu li:last-child {
    border-bottom: none;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.content {
    margin-left: 250px; /* Adjust this value to match the width of your sidebar */
    padding: 20px;
    transition: margin-left 0.3s ease; /* Add transition for smooth content movement */
}

.sidebar.active {
    left: 0; /* Slide sidebar back into view when active class is applied */
}

.sidebar.active ~ .content {
    margin-left: 250px; /* Adjust this value to match the width of your sidebar */
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure topbar stays above other content */
}

.openButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.currentLink {
    font-size: 18px;
}

.profileImageContainer {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}